<template>
<!--    <section class="sq-main-sidebar-info">-->
<!--        <div class="logo mb-1 pt-1"><img src="/images/logo.png" alt="logo" /></div>-->
<!--        <div class="info">-->
<!--            {{ writer }}님-->
<!--        </div>-->
<!--    </section>-->
    <form>
        사용자 명 : OOO님 <br>
        ID : <input id='userid' type='text'/><br>
        PW : <input id='pwd' type='password'/>
    </form>
</template>

<script>
export default {
    data() {
        return {
        }
    },
    computed: {
        // name() { return this.$store.getters[this.$authenticatedConstants.GET_NAME] },
    }
}
</script>
