<template>
    <div>
<!--        <el-button type="success" icon="el-icon-check" circle @click.native="moveCreate()">등록</el-button>-->
        <br />
        <div v-for="(item, index) in list"
             v-bind:key="index">
            누구꺼?: {{item.articleId}}
            내용 : {{item.hasTageContents}}
<!--            <el-button type="primary" icon="el-icon-edit" circle @click.native="moveEdit(item.noticeId)"></el-button>-->
<!--            <el-button type="success" icon="el-icon-check" circle @click.native="moveDetail(item.noticeId)"></el-button>-->

        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            id: null,
            list: [],
            // pageNum: 1,
            // // pageNum : 1,
        }
    },
    methods: {
        getHashListAll() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$hashtagConstants.DO_HASHTAG_LIST)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        // moveCreate() {
        //     this.$router.push('/notice/form')
        //     //     let linkBaseUrl = '/customer/detail/'
        //     //     this.$router.push(`${linkBaseUrl}${id}`)
        // },
    },
    created() {
        this.getListAll()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DO_HASHTAG_LIST')
    },

}
</script>
