<template>
    <div>
        <br/>
        <div v-for="(item, index) in list "
             v-bind:key="index">
            <img src="/images/smartPhone.jpg" height="100" width="100"/>
            순서: {{ item.articleId }}
            제목: {{ item.title }}
            내용: {{ item.contents }}
            작성자 : {{ item.writer }}
            작성일: {{ (item.dateCreate) }}

            해시태그 목록: {{item.hasTageContents}}

            <div style="float: right" class="form-wrapper">
                <form>
                    <div class="form-group">
                        <input type='text' :id="item.articleId"><br>
                    </div>
                    <el-button type="success" icon="el-icon-check" circle @click.native="moveCreate(item.articleId)">
                        해시태그 등록
                    </el-button>
                </form>
            </div>

        </div>

    </div>
</template>
<script>
import axios from "axios";
import article from "@/store/modules/article";
export default {
    // middleware: 'auth',
    data() {
        return {
            id: null,
            list: [],
            detailInfo: null

        }
    },
    methods: {
        getListAll() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true);
            this.$store.dispatch(this.$articleConstants.DO_ARTICLE_LIST_ALL)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                });
        },
        async getListHashTag(articleId) {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store
                .dispatch(this.$hashtagConstants.DO_HASHTAG_LIST, {id: this.articleId })
                .then((res) => {
                    this.$store.commit(
                        this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.list = res.data.list
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)

                })
            //Todo articleId를 가져오는 부분에서 undefined 되고 있음. 여기서부터 풀 것.
        },
        async moveCreate(id) {
            let tag = document.getElementById(id).value
            let param = {
                "articleId": id,
                "hasTageContents": tag
            }
            await axios.post('/v1/hash-tag/new', param);

            console.log()
        },
    },
    created() {
        this.getListAll();
        this.getListHashTag();
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DO_HASHTAG_LIST')

    },
}

</script>
<style>

/*.form-wrapper {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    padding: 30px;*/

/*}*/

/*form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    width: 80%;*/
/*    max-width: 800px;*/
/*    padding: 20px;*/
/*    background-color: #fff;*/
/*    box-shadow: 0 0 10px rgba(0,0,0,0.2);*/
/*}*/

/*.form-group {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*    margin-bottom: 20px;*/
/*}*/

/*label {*/
/*    font-size: 1.2rem;*/
/*    margin-bottom: 5px;*/
/*}*/

/*input, textarea {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*    font-size: 1.2rem;*/
/*    line-height: 1.5;*/
/*}*/

/*button {*/
/*    margin-top: 20px;*/
/*    padding: 10px 20px;*/
/*    font-size: 1.2rem;*/
/*    background-color: #007bff;*/
/*    color: #fff;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    transition: all 0.3s ease-in-out;*/
/*}*/

/*button:hover {*/
/*    background-color: #0062cc;*/
/*}*/
</style>







